/* 
Adriano Alves
Mar 18 2019
Berkely Bootcamp 
CSS file to hold all style code used for RPG game
*/

body{
    background-image: url("../images/death_star.webp");
    background-repeat: no-repeat;
    background-position: right center;
}

.container{
    height: 100%;
    width: 150%;
}

.card-size{
    max-width: 14rem;
}

.invisible{
    display: none;
}
/* *************************************************** */
/* * * * * * * * * * * ANIMATION * * ** * * * * * * *  */
/* *************************************************** */
@keyframes animatedBackground {
	from { background-position: 100% -30%; }
	to { background-position: -45% 100%; }
}

#imagesContainer	{ 
	height: 900px; 
	background-image: url("../images/space.webp");
	background-position: 0px 0px;
	background-repeat: no-repeat;

	animation: animatedBackground 40s linear infinite;
}
